<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group5.cmiopenday">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".TravelActivity"
            android:label="@string/title_activity_travel"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".openDay2" />
        <activity android:name=".webview" />
        <activity
            android:name=".EducationPage"
            android:label="Course" />
        <activity android:name=".openDayDetails" />
        <activity
            android:name=".CMI_Activity"
            android:label="About CMI" />
        <activity
            android:name=".FloorPlanActivity"
            android:label="Floorplan" />
        <activity
            android:name=".QuestionFormActivity"
            android:label="Ask A Question" />
        <activity
            android:name=".StudyProgramsActivity"
            android:label="Courses" />
        <activity
            android:name=".PopActivity"
            android:theme="@style/AppTheme.PopMe" />
        <activity
            android:name=".MainActivity"
            android:label="CMI Open Days">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>