<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group5.cmiopenday1"


    android:versionCode="1">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.group5.cmiopenday1.creditsPage"
            android:label="Credits"/>

        <activity android:name="com.group5.cmiopenday1.LoginActivity"/>
        <activity android:name="com.group5.cmiopenday1.resultPage"
            android:label = "Results"/>
        <activity android:name="com.group5.cmiopenday1.Questionnaire" />


        <activity
            android:name="com.group5.cmiopenday1.TravelActivity"

            android:label="@string/title_activity_travel"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.group5.cmiopenday1.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.group5.cmiopenday1.openDay3" />
        <activity android:name="com.group5.cmiopenday1.openDay2" />
        <activity android:name="com.group5.cmiopenday1.webview" />
        <activity
            android:name="com.group5.cmiopenday1.EducationPage"
            android:label="@string/courses" />
        <activity android:name="com.group5.cmiopenday1.openDayDetails" />
        <activity
            android:name="com.group5.cmiopenday1.CMI_Activity"
            android:label="@string/about_cmi" />
        <activity
            android:name="com.group5.cmiopenday1.FloorPlanActivity"
            android:label="@string/floorplan" />
        <activity
            android:name="com.group5.cmiopenday1.QuestionFormActivity"
            android:label="@string/ask_a_question" />
        <activity
            android:name="com.group5.cmiopenday1.StudyProgramsActivity"
            android:label="@string/courses" />
        <activity
            android:name="com.group5.cmiopenday1.DatabaseAddOpendays"/>
        <activity
            android:name="com.group5.cmiopenday1.DatabaseAddOpendayEvent"/>
        <activity
            android:name="com.group5.cmiopenday1.PopActivity"
            android:label="@string/event_page_toolbar_text" />
        <activity
            android:name="com.group5.cmiopenday1.MainActivity"

            android:label="@string/open_days" />

    </application>


</manifest>